.play-card {
  position: relative;
  width: 50vw;
  height: 60vh;
  background: #ddd;
  display: flex;
  place-content: center;
  place-items: center;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 5px 5px 20px #d2d2d2, -5px -5px 20px #ffffff;
  margin: auto;
  margin-top: 60px;
  transition: width 0.3s;
  z-index: 3;
  &::after {
    content: "";
    position: absolute;
    background: #fff;
    z-index: 2;
    inset: 5px;
    border-radius: 15px;
  }
  .player_bg {
    position: absolute;
    left: 4%;
    top: 4%;
    background-size: cover;
    filter: blur(15px) brightness(0.6);
    z-index: 3;
    width: 92%;
    height: 92%;
  }
}
.play-card_playing {
  &::before {
    content: "";
    position: absolute;
    width: 25vw;
    background-image: var(--colorful);
    height: 100vh;
    animation: rotBGimg 8s linear infinite;
    transition: all 0.2s linear;
  }
}
.play-card_immersive {
  width: 100vw;
  height: 100vh;
  margin-top: 0;
  transition: all 0.3s;
  &::after {
    inset: 0;
  }
  .player_bg {
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    background-position: center;
  }
  .al-cover {
    top: 38%;
    width: 250px;
    height: 250px;
    canvas {
      width: 500px;
      height: 500px;
    }
  }
  .ms-info {
    @include alb(0, 26%);
  }
}
@keyframes rotBGimg {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotateSelf {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
.al-cover {
  @extend %abc;
  top: 44%;
  z-index: 4;
  width: 200px;
  height: 200px;
  text-align: center;

  .pic {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-size: contain;
  }
  .pic_playing {
    animation: rotateSelf 10s linear infinite both;
  }
  canvas {
    @include alt(-50%, -50%);
    width: 400px;
    height: 400px;
    transform: scale(0.9);
    // background-color: transparent;
    // width: 100%;
    // height: 100%;
  }
}
.ms-info {
  z-index: 4;
  width: 100%;
  @include alb(0, 5%);
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #f9f9f7;
  text-shadow: -2px 0px 4px #3b3a3a;
  .timeupdate {
    font-weight: bold;
    font-size: 14px;
  }
}
